@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Roboto','sans-serif';
}




.testclass{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 16px;
}

.testclass::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(26, 26, 26, 0.8),rgba(26, 26, 26, 0.1),rgba(0, 0, 0, 0));
}
.frontview_bunglaows{
    position: relative;
    overflow: hidden;
}
.frontview_bunglaows::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(26, 26, 26, 0.1),rgba(26, 26, 26, 0.8));
}

